version: '3.8'

services:
  jekyll:
    build: .
    ports:
      - "4000:4000"
      - "35729:35729"  # LiveReload port
    volumes:
      - .:/srv/jekyll
      - ./_site:/srv/jekyll/_site  # Mount _site directory for development
    environment:
      - JEKYLL_ENV=development
      # Optional environment variables
      # - JEKYLL_SERVE_HOST=0.0.0.0
      # - JEKYLL_SERVE_PORT=4000
    command: jekyll serve --host 0.0.0.0 --livereload --force_polling
