<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p> I am now a Postdoc in Zhejiang Univeristy advised by <a href="http://person.zju.edu.cn/en/0087125">Prof. Li Shanping</a> and a research scientist in Singapore Management Univeristy advised by <a href="http://www.mysmu.edu/faculty/davidlo/">Prof. David Lo</a>. </p>

    <p>I got my Ph.D degree in March 2016 from College of Computer Science and Technology, Zhejiang University, China. From March, 2014 to August ,2015, I was a visiting student of Professor Zhenchang Xing in Nanyang Technological University, Singpaore. My research mainly focuses on software engineering, such as developers' behavior analysis, mining software repositories, etc.</p>
</div><!--//summary-->
</section><!--//section-->