 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Computer Science and Technology</h4>
    <h5 class="meta">Zhejiang University</h5>
    <div class="time">2010.9 - 2016.3</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Software Engineering</h4>
    <h5 class="meta">Zhejiang University</h5>
    <div class="time">2006.9 - 2010.7</div>
</div><!--//item-->
</div><!--//education-container-->