<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Research Scientist</h3>
                                <div class="time">2017.6 - Present</div>
                            </div><!--//upper-row-->
                            <div class="company">Singapore Management Univeristy</div>
                        </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PostDoc</h3>
                            <div class="time">2016.4 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Zhejiang Univeristy</div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2010 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">State Street Technology, Hangzhou</div>
                    </div><!--//meta-->
                </div><!--//item-->
            </section><!--//section-->