---
layout: default
---


<section class="section summary-section">
    <h2 class="section-title">About Me</h2>
    <div class="summary">
        <p>I am now a distinguish researcher (特聘研究员) in Zhejiang University City College. I was a Postdoc in Zhejiang Univeristy advised by <a href="http://person.zju.edu.cn/en/0087125">Prof. Li Shanping</a> and a research scientist in Singapore Management Univeristy advised by <a href="http://www.mysmu.edu/faculty/davidlo/">Prof. David Lo</a>. </p>
    
        <p>I got my Ph.D degree in March 2016 from College of Computer Science and Technology, Zhejiang University, China. From March, 2014 to August ,2015, I was a visiting student of Professor Zhenchang Xing in Nanyang Technological University, Singpaore. My research mainly focuses on software engineering, such as developers' behavior analysis, mining software repositories, etc.</p>
    </div><!--//summary-->
</section><!--//section-->

<section class="section experiences-section">
    <h2 class="section-title">Education</h2>
                
          <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">PhD in Computer Science and Technology</h3>
                          <div class="time">2010.9 - 2016.3</div>
                      </div>
                      <div class="company">Zhejiang University</div>
                  </div><!--//meta-->
          </div><!--//item-->
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Bsc in Software Engineering</h3>
                      <div class="time">2006.9 - 2010.7</div>
                  </div>
                  <div class="company">Zhejiang University</div>
              </div><!--//meta-->
      </div><!--//item-->

  </section><!--//section-->

<section class="section experiences-section">
        <h2 class="section-title">Experiences</h2>
                    <div class="item">
                            <div class="meta">
                                <div class="upper-row">
                                    <h3 class="job-title">Distinguish Researcher</h3>
                                    <div class="time">2018.10 - present</div>
                                </div><!--//upper-row-->
                                <div class="company">Zhejiang Univeristy City College, China</div>
                            </div><!--//meta-->
                    </div><!--//item-->

                    <div class="item">
                            <div class="meta">
                                <div class="upper-row">
                                    <h3 class="job-title">Research Scientist</h3>
                                    <div class="time">2017.6 - 2018.9</div>
                                </div><!--//upper-row-->
                                <div class="company">Singapore Management Univeristy, Singapore</div>
                            </div><!--//meta-->
                    </div><!--//item-->
    
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">PostDoc</h3>
                                <div class="time">2016.4 - 2018.3</div>
                            </div><!--//upper-row-->
                            <div class="company">Zhejiang Univeristy, China</div>
                        </div><!--//meta-->
                    </div><!--//item-->
                    
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Research Engineer</h3>
                                <div class="time">2014.3 - 2015.8</div>
                            </div><!--//upper-row-->
                            <div class="company">Nanyang Technological University, Singapore</div>
                        </div><!--//meta-->
                    </div><!--//item-->
    
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Software Engineer</h3>
                                <div class="time">2010 - 2013</div>
                            </div><!--//upper-row-->
                            <div class="company">State Street Technology, Hangzhou, China</div>
                        </div><!--//meta-->
                    </div><!--//item-->
              </section><!--//section-->